.label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
  font-size: 15px;
}

.ul {
  background: #fff;
  border: 1px solid #ccd1d9;
  border-radius: 8px;
  width: 92%;
  max-width: 100%;
  margin-top: 2px;
  padding: 0;
  list-style: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  max-height: 180px;
  overflow-y: auto;
  z-index: 10;
  margin: auto;
}

.li {
  padding: 10px 14px;
  cursor: pointer;
  font-size: 15px;
  color: #333;
  transition: 0.2s;
  list-style-type: none;
  max-width: 100%;
}


li:hover {
  background-color: lightgray;
}